 html{
    height:max-content;
    background-repeat: no-repeat;
    background-image: linear-gradient(
  180deg,
  hsl(250deg 95% 84%) 0%,
  hsl(245deg 86% 82%) 6%,
  hsl(240deg 78% 80%) 13%,
  hsl(235deg 73% 77%) 19%,
  hsl(231deg 69% 73%) 25%,
  hsl(226deg 67% 70%) 31%,
  hsl(223deg 65% 66%) 36%,
  hsl(224deg 62% 65%) 42%,
  hsl(225deg 60% 63%) 48%,
  hsl(226deg 58% 61%) 54%,
  hsl(226deg 56% 59%) 60%,
  hsl(227deg 54% 57%) 65%,
  hsl(227deg 50% 55%) 71%,
  hsl(227deg 45% 52%) 77%,
  hsl(227deg 43% 48%) 83%,
  hsl(227deg 43% 45%) 88%,
  hsl(227, 45%, 41%) 94%,
  hsl(227deg 47% 37%) 100%
);
}

.logo {
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}

h1 {
    margin-top: 12px;
    font-size: 20px;
    font-family: 'Clap Hand', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#slogan {

    margin-top: 20px;
    font-size: 12px;
    font-family: "KAWAIITEGAKIMOJI";
    text-align: center;
    font-weight: 900;
    animation: typing 6s;
    animation-iteration-count:1;
    white-space: nowrap;

}

@keyframes typing {
    from {width:0;}
    to {
        width:100%;
    }
}

@keyframes grow-shrink {
    0% {transform: scale(0.0);}
    100% { transform: scale(0.0);}
}

#delaytext{

    margin-top: 20px;
    font-size: 12px;
    font-family: "KAWAIITEGAKIMOJI";
    text-align: center;
    font-weight: 900;
    animation: typing 6s 20s, grow-shrink 20.4s ;
    animation-iteration-count:1;
    white-space: nowrap;

}

.container {
    background-color: rgba(0, 0, 0, 0.486);
    max-width: 955px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 13px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    scroll-behavior: auto;
    margin-bottom: 23px;
}

.message {
    color: white;
    background-image: linear-gradient(
  180deg,
  hsla(201, 95%, 75%, 0.493) 0%,
  hsla(202, 96%, 73%, 0.452) 8%,
  hsla(202, 94%, 72%, 0.459) 15%,
  hsla(202, 93%, 70%, 0.507) 23%,
  hsla(202, 94%, 69%, 0.473) 31%,
  hsla(202, 94%, 67%, 0.507) 38%,
  hsla(202, 93%, 65%, 0.459) 46%,
  hsla(202, 89%, 62%, 0.493) 54%,
  hsla(204, 81%, 56%, 0.459) 62%,
  hsla(205, 74%, 51%, 0.493) 69%,
  hsla(206, 81%, 46%, 0.466) 77%,
  hsla(208, 86%, 42%, 0.445) 85%,
  hsla(212, 84%, 40%, 0.418) 92%,
  hsla(217, 76%, 38%, 0.466) 100%
);
    max-width: 50%;
    word-break: break-all;
    padding: 10px;
    margin: 17px 12px;
    border: 3px solid rgba(255, 255, 255, 0.63);
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInp {
    color: black;
    font-size: 25px;
    width: 80%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

.btn {
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 0 5px;
    width: auto;
    cursor: pointer;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 6px;
    height: 34px;
}

@font-face { 

    font-family:"Twentieth Century";
    src:url(/fonts/Twentieth\ Century.woff2)

}

@font-face { 

    font-family:"Clap Hand";
    src:url("/fonts/Clap\ Hand.woff2")

}

@font-face { 

    font-family:"KAWAIITEGAKIMOJI";
    src:url("/fonts/KTEGAKI.woff2")

}
